@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Montserrat:ital,wght@0,500;1,500&display=swap');


@font-face {
  font-family: 'norsebold';
  src: url("/public/assets/Norse-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;

}


*{
    margin: 0;
    padding: 0;
}
.maincontainer{
    display: flex;
    justify-content: flex-start;
    height: 100vh;
}
.leftcontainer{
    width: 35%;
    background-image: url("/public/assets/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display:flex;
}
.rightcontainer{
    flex-grow: 1;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}   
.rightcontainer-element{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.rightcontainer-element:first-of-type{
    display:flex;
    align-items: flex-start;
    flex-direction: column;

}
.rightcontainer-element:last-of-type{
    align-items: flex-start;
}
.odinlogo{
    display: flex;
    justify-content: center;
    background-color: hsla(0, 0%, 0%, 0.5);
    margin-top: 150px;
    height: 100px;
    flex-grow: 1;
}
.odinlogo > p{
    display: flex;
    justify-self: center;
    justify-content: center;
    align-self:center;
    font-family:'norsebold';
    font-size: 80px;
    padding-top: 20px;
    color: white;
}
.rightcontainer-element:nth-child(2)
{
    background-color: #ffffff;
    display:flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: flex-start;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    margin-top: 5px;
}
.firsttext {

    margin-left: 30px;
}

.maindiv{

    display:flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    gap: 20%;
}
.maindiv > * {
    display: flex; 
    flex-direction: column;
    margin-left : 30px;
    flex: 0;
}
label, #h1 {
    display: flex;
    margin-bottom: 5px;
    color: #1f2937;
    font-family: 'Arimo', sans-serif;
  }
  #h1 {
    font-weight: 700;
    font-size: 24px;
  }
  p {
    color: #1f2937;
    font-family: 'Arimo', sans-serif;
    font-weight: 500;
    font-size: large;
  }
  input {
    display: flex;
    flex: 0;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    width: 400px;
    padding: 8px;
    
  }
  .wrong-input {
    border-color: rgb(210,0,0);
  }

  .wrong-pass{
    color: rgb(210, 0, 0);
  }
  
  .pass{ 
    display:none;
  }
  button{
    display:block;
    background-color: #596D48;
    height: 50px;
    width: 250px;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    transition: 0.3s;
  }
  button:hover{
    cursor: pointer;
  }
  
  #ending{
    display:flex;
    justify-content: flex-start;
    margin-left: 30px;
    flex-direction: column;
    gap: 40px;
  }
  .final-text{
    display:flex;
    flex-direction: row;
    font-size: 20px;
  }
  a {
    text-decoration: none;
    color:#596D48;
    transition: 0.3s;
}
  a:hover{
    color: black;
  }

  #blanktext > * {
    margin-left: 30px;
    margin-top: 100px;
    font-size: 1.5rem;
    font-weight: 700;
  }
  
  button:hover {
    background-color:#1f2937;
  }
  /*
    background-image: url("/public/assets/image.jpg");
    background-size: cover;
    background-repeat: no-repeat;